<!DOCTYPE html>
<html>
    <head>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content="StackOverflow-lite is a platform where people can ask questions and provide answers." />
		<meta name="keywords" content="code,programming,computer science,programming languages" />
        <meta name="author" content="Kigai Phiona Mary" />
        <title> Stack Overflow Lite </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    </head>

    <body>
        {% include 'includes/_navbar.html' %}

        <div class = "container">
            {%block body %} {% endblock %}
        </div>

        <script  scr="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    </div>
    <style>
        .footer {
            color: #fff;
            background-color: #333331;
            text-align: center;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 50px;
            color: white;
            text-align: center;
        }
        </style>
        
        <div class="footer">
            <p>Phii, copyright &copy; 2018 </p>
        </div> 

    </body>
</html>